body{
    background-color: #525252;
    margin: auto;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 307px;
 	width: 307px;
    padding: 40px 40px;

}

.container {
  padding-top: 25px;
  padding-bottom: 16px;
  background-color: lightgrey;
}

.formContainer {
	width: 75%;
	margin: auto;
	clear: both;
}
.formContainer input {
	width: 100%;
	clear: both;
}

.map-container {
	width: 100%;
	height: 500px;
}

html {
    position: relative;
    min-height: 100%;
}

#footer {
    padding-top: 3px; 
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
    left:0;
}
#footer {
    padding-top: 3px; 
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
    left:0;
}

#bigBtn {
    width: 100%;
}