html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px; 
}

#footer {
    padding-top: 3px; 
    position: absolute;
    height: 25px;
    bottom: 0;
    width: 100%;
    left:0;
}